*.results
*.question
*.input
*.properties
*.tsv
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.tmp.results
*.results.tsv
.RData
.Rhistory
.DS_Store
writing/_2015/cogsci_2015/paper/cogsci_wonkymarbles.pdf
writing/_2015/cuny_2015/CUNY_abstract.pdf
writing/_2015/_journal_cognition/wonkymarbles.pdf
