{
"rewriteProperties":"yes",
"liveHIT":"yes",
"title":"Answer some simple questions",
"description":"a 7-minute experiment where you answer some questions about events",
"nameofexperimentfiles":"sinking-marbles-prior",
"experimentURL":"https://web.stanford.edu/~erindb/sinking-marbles/experiments/sinking-marbles-prior/sinking-marbles-prior.html",
"keywords":"language research stanford fun cognitive science university answer simple questions",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"0.50",
"numberofassignments":"60",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"conditions":"sinking-marbles-prior"
}